<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616980022709-eo05vmuc5o0s7vn0nq5v68kim78cdq0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616980022709-eo05vmuc5o0s7vn0nq5v68kim78cdq0p</string>
	<key>API_KEY</key>
	<string>AIzaSyDuK4GxOJJ7Bbmig9zwtdDJ8Yt1cxlfbfg</string>
	<key>GCM_SENDER_ID</key>
	<string>616980022709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendmonny</string>
	<key>PROJECT_ID</key>
	<string>sendmonny-d7d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>sendmonny-d7d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616980022709:ios:68805a09dc8aaf158905fc</string>
</dict>
</plist>